In [1]:
import pandas as pd
import scipy.cluster.hierarchy as spc
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import numpy as np
from matplotlib.mlab import PCA

%matplotlib notebook

In [2]:
df = pd.read_csv('load_voltage_profile_55.csv')
df['timestamp']=pd.to_datetime(df['timestamp'])
df=df.set_index('timestamp').sort_index().interpolate().ffill().bfill()
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1206: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

,voltage_load1,voltage_load2,voltage_load3,voltage_load4,voltage_load5,voltage_load6,voltage_load7,voltage_load8,voltage_load9,voltage_load10,...,votlage_load46,voltage_load47,voltage_load48,voltage_load49,voltage_load50,voltage_load51,voltage_load52,voltage_load53,voltage_load54,voltage_load55
timestamp,,,,,,,,,,,,,,,,,,,,,
2000-01-01 00:01:00,252.113668,252.099954,252.112302,252.046500,252.046500,252.098588,252.044152,252.067000,252.022045,252.038322,...,251.928325,252.023000,251.928825,251.928325,251.946871,251.925959,251.916129,251.946371,251.924592,251.915263
2000-01-01 00:02:00,252.114034,252.094490,252.113534,252.048097,252.048097,252.094490,252.035090,252.073001,252.024509,252.029760,...,251.931155,252.031000,251.932521,251.931155,251.934711,251.929655,251.918959,251.933845,251.928289,251.918959
2000-01-01 00:03:00,252.108473,252.098954,252.107107,252.035608,252.035608,252.098954,252.044018,252.054000,252.008921,252.038688,...,251.892978,252.014000,251.897076,251.895710,251.945471,251.896942,251.887112,251.945471,251.895576,251.887112
2000-01-01 00:04:00,252.089422,252.107615,252.088922,251.985174,251.989272,252.106749,252.060242,252.025000,251.968684,252.054911,...,251.841713,251.976001,251.847177,251.845811,251.966658,251.851641,251.841311,251.966658,251.850275,251.840445
2000-01-01 00:05:00,252.086362,252.111480,252.085496,251.980919,251.984151,252.110614,252.069106,251.961000,251.963832,252.063276,...,251.824005,251.876001,251.833067,251.831701,251.968994,251.843362,251.833030,251.968128,251.841995,251.833030

In [5]:
corr = df.corr()#.values()
corr.head()

,voltage_load1,voltage_load2,voltage_load3,voltage_load4,voltage_load5,voltage_load6,voltage_load7,voltage_load8,voltage_load9,voltage_load10,...,votlage_load46,voltage_load47,voltage_load48,voltage_load49,voltage_load50,voltage_load51,voltage_load52,voltage_load53,voltage_load54,voltage_load55
voltage_load1,1.000000,0.285662,0.998470,0.979912,0.981187,0.274834,0.226090,-0.047929,0.964932,0.218072,...,0.960639,-0.100386,0.960374,0.960701,0.196520,0.955613,0.946590,0.189702,0.954835,0.946471
voltage_load2,0.285662,1.000000,0.278685,0.211317,0.215251,0.999382,0.986330,0.006087,0.208684,0.982927,...,0.218173,-0.088738,0.219965,0.221868,0.957296,0.195931,0.179932,0.954637,0.196322,0.181141
voltage_load3,0.998470,0.278685,1.000000,0.975894,0.977207,0.267865,0.220010,-0.047271,0.959823,0.212109,...,0.957132,-0.098971,0.956633,0.957084,0.190244,0.951790,0.942352,0.183414,0.951189,0.942236
voltage_load4,0.979912,0.211317,0.975894,1.000000,0.999806,0.200375,0.156808,-0.114986,0.987316,0.150787,...,0.965995,-0.152755,0.966716,0.966137,0.132164,0.961446,0.950999,0.125766,0.960765,0.950924
voltage_load5,0.981187,0.215251,0.977207,0.999806,1.000000,0.204262,0.160329,-0.114737,0.987674,0.154379,...,0.967903,-0.153928,0.968610,0.968067,0.135540,0.963284,0.952783,0.129119,0.962657,0.952713

In [6]:
pdist = spc.distance.pdist(corr)
linkage = spc.linkage(pdist, method='complete')
idx = spc.fcluster(linkage, 0.5 * pdist.max(), 'distance')

In [9]:
Phase_X,Phase_Y,Phase_Z=[],[],[]

[Phase_X.append('Load'+str(load_number+1))  for (load_number,cluster) in enumerate (idx) if cluster==1]
[Phase_Y.append('Load'+str(load_number+1))  for (load_number,cluster) in enumerate (idx) if cluster==2]
[Phase_Z.append('Load'+str(load_number+1))  for (load_number,cluster) in enumerate (idx) if cluster==3]

phaseX_df = pd.DataFrame(Phase_X,columns =['Phase X']) 
phaseY_df = pd.DataFrame(Phase_Y,columns =['Phase Y']) 
phaseZ_df = pd.DataFrame(Phase_Z,columns =['Phase Z'])

In [10]:
phase_Identification_df = pd.concat([phaseX_df, phaseY_df, phaseZ_df], axis=1, ignore_index=True, sort=False)
phase_Identification_df.columns = ['phase X', 'phase Y', 'phase Z']
phase_Identification_df.index.name = 'Index'
phase_Identification_df

      phase X phase Y phase Z
Index
0       Load8   Load1   Load2
1      Load12   Load3   Load6
2      Load16   Load4   Load7
3      Load17   Load5  Load10
4      Load18   Load9  Load11
5      Load19  Load14  Load13
6      Load24  Load20  Load15
7      Load27  Load21  Load23
8      Load28  Load22  Load26
9      Load32  Load25  Load35
10     Load33  Load29  Load36
11     Load39  Load30  Load37
12     Load42  Load31  Load38
13     Load43  Load34  Load40
14     Load47  Load46  Load41
15        NaN  Load48  Load44
16        NaN  Load49  Load45
17        NaN  Load51  Load50
18        NaN  Load52  Load53
19        NaN  Load54     NaN
20        NaN  Load55     NaN

In [11]:
phase_Identification_df.to_csv('phase_Identification.csv')

In [15]:
import collections
counter=collections.Counter(idx)
print(counter)
print(counter.values())

print(counter.keys())

print(counter.most_common(3))

Counter({2: 21, 3: 19, 1: 15})
dict_values([21, 19, 15])
dict_keys([2, 3, 1])
[(2, 21), (3, 19), (1, 15)]